<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sniffer Dashboard</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://unicons.iconscout.com/release/v3.0.6/css/line.css'>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
  <!-- partial:index.partial.html -->
  <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
    <i class="uil-bars close-asbackground-color: var(--sidebar-bg-color);ide d-md-none d-lg-none"
      data-close="show-side-navigation1"></i>
    <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
      <div class="ms-2">
        <h5 class="fs-6 mb-0">
          <a class="text-decoration-none" href="#">Menu</a>
        </h5>
        <p class="mt-1 mb-0"></p>
      </div>
    </div>

    <ul class="categories list-unstyled">
      <li class="">
        <i class="uil-chart-pie-alt"></i><a href="{{ url_for('display_dashboard') }}">Website Monitoring</a>
      </li>
      <li>
        <i class="uil-folder"></i><a href="{{ url_for('display_datadump') }}">Packet Sniffer Dump</a>
      </li class="">
    </ul>
  </aside>

  <section id="wrapper">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid mx-2">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar"
            aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="uil-bars text-white"></i>
          </button>
          <a class="navbar-brand" href="#">admin<span class="main-color">kit</span></a>
        </div>
        <div class="collapse navbar-collapse" id="toggle-navbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="p-4">
      <div class="welcome">
        <div class="content rounded-3 p-3">
          <h1 class="fs-3">Check out your network usage below!</h1>
          <p class="mb-0">Select the device you wish to analyze</p>
        </div>
      </div>


      <div class="welcome">
        <div class="content rounded-3 p-3">
          <form method="POST" action="{{ url_for('display_dashboard') }}">
            <select name="device-select" id="device-select" class="form-control w-100 border-0"
              onchange="this.form.submit()">
              {% if update == True %}
              <option value={{device_name}} selected disabled hidden>{{device_name}}</option>
              {% else %}
              <option value="none" selected disabled hidden>List Devices</option>
              {% endif %}
              {% for data in website_data.distinct("device_name") %}
              <option value={{data}}>{{data}}</option>
              {% endfor %}
            </select>
          </form>
        </div>
      </div>


      <section class="statistics mt-4">
        <div class="row">
          <div class="col-lg-4">
            <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
              <i class="uil-users-alt fs-2 text-center bg-primary rounded-circle"></i>
              <div class="ms-3">
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">{{website_data.distinct("device_name")|length}}</h3> <span
                    class="d-block ms-2">Devices Found</span>
                </div>
                <p class="fs-normal mb-0">Number of unique devices under surveilance</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
              <i class="uil-file fs-2 text-center bg-danger rounded-circle"></i>
              <div class="ms-3">
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">
                    {% if "" is in website_data.distinct("website") %}
                    {{website_data.distinct("website")|length-1}}
                    {% else %}
                    {{website_data.distinct("website")|length}}
                    {% endif %}
                  </h3> <span class="d-block ms-2">Websites Monitored</span>
                </div>
                <p class="fs-normal mb-0">Number of unique websites that were visited by all devices</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box d-flex rounded-2 align-items-center p-3">
              <i class="uil-eye fs-2 text-center bg-success rounded-circle"></i>
              <div class="ms-3">
                <div class="d-flex align-items-center">
                  <h3 class="mb-0">{{website_data.find().count()}}</h3> <span class="d-block ms-2">Instances
                    Tracked</span>
                </div>
                <p class="fs-normal mb-0">Total number of URL's accessed by all devics</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="charts mt-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="chart-container rounded-2 p-3 overflow: scroll">
              <h3 class="fs-6 mb-3">List of websites accessed</h3>
              {% if update == True %}
              <div class="scrollmenu">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Sr. No</th>
                      <th scope="col">Website Name</th>
                      <th scope="col">Source IP</th>
                      <th scope="col">Destination IP</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in website_data.find({"device_name":device_name}) %}
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td>{{data['website']}}</td>
                      <td>{{data['src_ip']}}</td>
                      <td>{{data['dest_ip']}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <h6 style="color: beige;">
                No Device Selected
              </h6>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="chart-container rounded-2 p-3">
              <h3 class="fs-6 mb-3">Number of times visited</h3>
              {% if update == True %}
              <canvas id="bar_chart">

              </canvas>
              {% else %}
              <h6 style="color: beige;">
                No Device Selected
              </h6>
              {% endif %}
            </div>
          </div>
        </div>
      </section>

      <section class="charts mt-4">
        <div class="chart-container p-3">
          <h3 class="fs-6 mb-3">Chart title number three</h3>
          <div style="height: 300px">
            <h6 style="color: beige;">
              No Device Selected
            </h6>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
  <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.jshttps://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>
  <script>
    var barData = {
      labels: [
        {% for item in labels %}
    "{{ item }}",
      {% endfor %}
      ],

    datasets: [
      {
        label: "Number of times visited",
        data: [
          {% for item in values %}
             "{{ item }}",
      {% endfor %}
    ]
        }
      ],
    backgroundColor: ["red", "green", "blue", "orange", "brown"],
      borderColor: 'transparent',
    }

    var baroptions = {
      legend: {
        display: false,
      }
    }

    var mychart = document.getElementById("bar_chart").getContext("2d");

    steps = 10
    max = {{ max }}

    var barChart = new Chart(mychart, {
      type: 'bar',
      data: barData,
      options: baroptions,
    });

  </script>
</body>

</html>